/* {
  width: 100%;
  text-align: center;
} */

.admin-login-form {
  width: 100%;
  display: flex;
  flex-direction: space-between;
  margin-top: 30px;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 0px;
  width: 100%;
  min-width: 400px;
}

.MuiFormControl-root .MuiTextField-root {
  min-width: 300px !important;
}

.admin-no-account-message {
  margin: 20px 0px;
  text-align: left;
}

.login-header {
  text-align: left;
}

h4 {
  text-align: left;
  margin-top: 10px;
}

.login-img {
  margin: 20px;
}

img {
  width: 80%;
  height: auto;
}

span {
  font-size: 16px;
}

.sign-up-link:hover {
  text-decoration: underline;
  cursor: pointer;
}

.forget-password {
  text-align: center;
}

.recovery-prompt {
  text-align: center;
  margin: 20px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.after-message {
  margin: 20px;
}

.here-button {
  color: #3F68F8;
  text-decoration: underline;
  cursor: pointer;
}

.email-recovery-field {
  width: 50%;
  margin: 30px;
  height: 25px;
}

@media (max-width: 800px) {
  .login-image-holder {
    display: none;
  }

  .MuiOutlinedInput-notchedOutline {
    max-width: 98%;
  }
}
