.search-filter {
  max-width: 500px;
  border: 1px solid red;
  background-color: #ffffff;
  padding:10px 30px;
  text-align:left
}

.extra-question {
  margin-top: 0px;
}

.profile-complete-labels {
  text-align: right;
  padding: 16px;
}


